#day_forecast {
  display: flex;
  flex-direction: column;
  border-radius: .75rem;
  padding: 1.5rem;
}

#day_forecast > p {
  padding-bottom: 1rem;
}

#days_container {
  display: flex;
  justify-content: space-between;
}