.days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(5rem, 10vw, 10rem);
  height: 7rem;
  border-left: 1px solid #ffffff77;
}

.the_icon{
  width: 4rem;
}