* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #0e1621;
  padding: 2vh;
  color: #fff;
  height: 100vh;
}

.sec_color {
  background-color: #212f3d;
}

#main_container {
  display: flex;
  gap: 3vw;
}
